<mat-list-item>

  <ng-container *ngIf="!showDetails">
    <mat-chip-list>
      <mat-chip *ngFor="let id of observation.imageIds">{{id}}</mat-chip>
    </mat-chip-list>
  </ng-container>

  <ng-container *ngIf="showDetails">
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput placeholder="" [(ngModel)]="observation.age">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sex</mat-label>
      <input matInput placeholder="" [(ngModel)]="observation.sex">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pregnancy Grade</mat-label>
      <input matInput placeholder="" [(ngModel)]="observation.pregnancyGrade">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Animal Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="observation.animalName">
    </mat-form-field>
  </ng-container>

</mat-list-item>
