<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <h4>Selected Groups</h4>
    <button (click)="addObservation()" mat-raised-button>
      +
    </button>
    <button (click)="showDetails = !showDetails" mat-raised-button style="margin-left: 5px;">
      Toggle Details
    </button>

    <mat-list>
      <ng-container *ngFor="let group of groups">
        <div mat-subheader>{{group.groupName}}</div>
        <mat-list-item *ngFor="let obs of group.observations">
          <app-observation-row [showDetails]="showDetails" [observation]="obs"></app-observation-row>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>

  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      >>>
    </button>
    <mat-grid-list cols="1" >
      <mat-grid-tile>
        <app-observation-form></app-observation-form>
      </mat-grid-tile>
      <mat-grid-tile>
        <button
          mat-stroked-button
          (click)="stopObservingAnimals()"
        >
          Start Observation
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-drawer-container>
