#nestedGrid {
  min-width: 100%;
}

mat-card {
  width: 65%;
}

.observation-form-container {
  margin: 20%;
}

.observation-form-card {
  width: 100%;
}

.navigation-button-container {
  text-align: center;
  padding: 5%;
}
