<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile class="logo-bg">
  </mat-grid-tile>
  <mat-grid-tile class="footer">
    <div id="nestedGrid">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="footer">
          <button
            mat-stroked-button
            (click)="startMission()"
          >
            Start Mission
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="footer">
          <button
            mat-stroked-button
            (click)="showMissions()"
          >
            Show Mission
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
