/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Global styles for zebro forms */

.observation-form-container {
  margin: 5% 10%;
}

.navigation-button-container {
  text-align: center;
  padding: 5%;
}
